# Ignorer l'environnement virtuel
    optitour/
  
    # Ignorer les fichiers Excel de test
    *.xlsx
    *.xls
    *.csv
  
    # Ignorer les fichiers temporaires Python
    __pycache__/
    *.pyc
    .DS_Store
